@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap'); /* Fuente de Google Fonts */
 
*{
    margin:0; /* Margen de la página */
    padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'poppins', sans-serif;;
}

body{
    background-color: #1a1a1aec; /* Color de fondo de la página */
}

p {
    color: rgb(0, 0, 0); /* Color del texto de los párrafos */
    justify-content: center;
    font-family: 'poppins';
    font-size: 16px;
    text-align: justify;
}

@font-face{
    font-family:Website;  /* Nombre de la fuente */
    src: url(Fuentes/Website.otf);
}

h1{
    font-family:Website;  /* Nombre de la fuente */
    font-size: 70px;  /* Tamaño de la fuente */
    color: #111111 ;
    text-align: center; /* Alineación del texto */
    margin-top: 20px;
}

td{
    padding-top: 30px; /* Espacio entre el borde superior de la celda y el contenido */
}

.Reloj {
    background: rgba(255, 255, 255, 0.733); /* Color de fondo del reloj */
    padding: 10px 0;  /* Espacio entre el borde superior e inferior del reloj y el contenido */
    width: 20%;  /* Ancho del reloj */
    position: absolute;  /* Posición del reloj */
    border-radius: 10px; /* Borde del reloj */
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); /* Sombra del reloj */
    margin-left: 60%; /* Margen izquierdo del reloj */
    margin-top: -20%; /* Margen superior del reloj */
}

.navbar {
    background: rgba(255, 255, 255, 0.733); /* Color de fondo de la barra de navegación */
    padding: 10px 0; /* Espacio entre el borde superior e inferior de la barra de navegación y el contenido */
    width: 70%; /* Ancho de la barra de navegación */
    z-index: 999; /* Posición de la barra de navegación */
    height: 80px; /* Altura de la barra de navegación */
    display: flex;      
    align-items: center; 
    justify-content: space-between; 
    margin-left: 15%;
    position: absolute; /* Posición de la barra de navegación */
    border-radius: 10px;  
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    top: 70%;
}

.navbar ul {
    list-style: none; /* Lista de elementos de la barra de navegación */
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10%;
}

.navbar li { /* Elementos de la barra de navegación */
    margin-right: 20px; /* Margen derecho de los elementos de la barra de navegación */
    margin-left: 10px; /* Margen izquierdo de los elementos de la barra de navegación */
}

.navbar li:last-child {
    margin-right: 0;
}

.navbar li:hover {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.589);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(26, 26, 26, 0.61);
    padding: 5px;
    transition: all 0.3s ease 0s;
}

.navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0); /* Color del texto de los enlaces */
    font-weight: 600;
}

.navbar .Slogan { /* Elemento del eslogan */
    flex-grow: 1;
    margin-left: 5%; /* Margen izquierdo del eslogan */
}

.navbar .Slogan p { /* Texto del eslogan */
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    font-family: 'poppins'; /* Fuente del eslogan */
}

.Contenido {
    background-color: rgb(255, 255, 255); /* Color de fondo del contenido */
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 40px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    padding: 80px;
    padding-top: 20px;
}

.Imagen_landing { /* Imagen de la landing page */
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
    height: 600px;
    border-radius: 40px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

.Imagen_landing:hover { /* Imagen de la landing page al pasar el ratón por encima */
    opacity: 0.8;
    transition: all 0.3s ease 0s;
    
}

.Footer { /* Pie de página */
    margin-top: 20px;
    text-align: center;
    position: absolute;
    width: 100%;
    font-family: 'poppins'; /* Fuente del pie de página */
    color: #ffffff;
    background-color: #ffffff; /* Color de fondo del pie de página */
  }

table { /* Tabla */
    vertical-align: top;
    justify-content: center; 
    margin: 20px;
    text-align: center;
  }
  
table p {
    text-align: justify;
    vertical-align: center;
    justify-content: center;
    border: 1px solid rgba(26, 26, 26, 0.61);
    border-radius: 10px;
    padding: 2%;
    margin: 0 10px;
}

table img {
    border-radius: 10%;
    border: 2px solid rgba(26, 26, 26, 0.61);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    width: 400px;
    height: 350px;
}

table img:hover { /* Imagen de la tabla al pasar el ratón por encima */
    transform: scale(1);
    transition: 0.5s;
    width: 450px;
    height: 400px;
    opacity: 0.5; 
}

.Hitos { /* Lista de hitos */
    margin-top: 20px;
    text-align: center;
    list-style: none;
  }

.Hitos li { /* Elementos de la lista de hitos */
    margin-top: 5px;
}
