@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'poppins', sans-serif;;
}

body{
    background-image: linear-gradient(135deg, #00B7D4, #505488,#2F3F80,#161569,#5A4894,#A950A1,#FF7CAE);
    background-size: 400% 400%;
}


@font-face{
    font-family:Website;
    src: url(Fuentes/Website.otf);
}

h1{
    font-family:Website;
    font-size: 70px;
    color: #2ECC71 ;
    text-align: center;
    margin-top: 20px;
}

.header-imagen{
    background-image: url(imagenes/san-francisco);
    background-position: center center;
    height: 350px;
    width: 450px;
    margin: 0 auto;
    border-radius: 25px;
    display: block;
}

.icono-para-ingresar-a-paginas-web {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.container{
    max-width: 1000px;
    margin: 0 auto;

}

menu {
    position:absolute;
    top: 10px;
    left:0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

}
.menu .logo{

    font-weight: 700;
    font-size: 30px;
    color: #2ECC71;

}

.menu .navbar ul li{

    position: relative;
    float: left;

}

.menu .navbar ul li a{
    font-size : 18px;
    padding: 20px;
    color: salmon;
    display: block;

}

.menu .navbar ul li a:hover{
    color: #0eaef3;
    transition: all 0.3s ease;

}
#menu{
        display: none;       
}

.menu-icono{
    width:25px;

}

.menu label{
    cursor: pointer;
    display: none;

}

.header-content {
    display: flex;
}

.content {
    padding: 150px 150px 0px 0px;
}

.content h1 {
    font-size: 70px;
    color: #F6DDCC ;
    font-family:Poppins;
    text-transform: uppercase;

}
.content h2{
    font-size: 70px;
    color: #161618;
    font-family:website;
    text-transform: uppercase;
}

.content p{
    margin-top: 25px;
    color: #AAB1FF;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 40px;

}

.services {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.service {
    padding: 25px;
    margin: 0px 10px;
    box-shadow: 0px 0px 20px rgba(145,141,214,0.2);
}

.service img{
    margin-bottom: 60px;
}

.service img:hover{
    transform: scale(2.2);
    transition: all 0.3s ease;
}

.service h3{
    margin-bottom: 10px;
    font-size: 21px;
    color: #0e0e0e;
    font-family:poppins;
}

.service p{
    font-size: 14px;
    color: #161618;
    line-height: 25px;
}
