@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'poppins', sans-serif;;
}

body{
    background-color: #1a1a1aec;
}

p {
    color: rgb(0, 0, 0);
    justify-content: center;
}

@font-face{
    font-family:Website;
    src: url(Fuentes/Website.otf);
}

h1{
    font-family:Website;
    font-size: 70px;
    color: #2ECC71 ;
    text-align: center;
    margin-top: 20px;
}


.Reloj {
    background: rgba(255, 255, 255, 0.733);
    padding: 10px 0;
    width: 20%;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    margin-left: 60%;
    margin-top: -20%;
}

.navbar {
    background: rgba(255, 255, 255, 0.733);
    padding: 10px 0;
    width: 70%;
    z-index: 999;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15%;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    top: 70%;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10%;
}

.navbar li {
    margin-right: 20px;
    margin-left: 10px;
}

.navbar li:last-child {
    margin-right: 0;
}

.navbar li:hover {
    /* Glassmorphism hover effect */
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.589);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba(26, 26, 26, 0.61);
    padding: 5px;
    /* Smooth transition */
    transition: all 0.3s ease 0s;
}

.navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0); /* Color del texto de los enlaces */
    font-weight: 600;
}

.navbar .Slogan {
    flex-grow: 1;
    margin-left: 5%;
}

.navbar .Slogan p {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    font-family: 'poppins';
}

.Contenido {
    background-color: rgb(255, 255, 255);
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 40px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    padding: 20px;
}

.Imagen_landing {
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
    height: 600px;
    border-radius: 40px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}

